/*-------------Fonts-------------*/

@font-face {
  font-family: "BubblegumSans";
  src: url("/Assets/Fonts/BubblegumSans-Regular.ttf"),
    url("/Assets/Fonts/BubblegumSans-Regular.ttf");
}

/*-------------Background-------------*/

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  cursor: url("/Assets/Cursors/ekos-jesus-stick.ico"), auto;
}

body {
  margin: 0;
  background: radial-gradient(
      circle at top right,
      #18206F,
      #2F52E0
    );
}

/*-------------Game Info Headers-------------*/

.page-title {
  color: #EC9F05;
  font-family: BubblegumSans, serif;
  font-weight: normal;
  text-align: center;
  font-size: 4em;
}

.game-info {
  font-family: BubblegumSans, serif;
  color: #EC9F05;
  font-size: 2em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

/*-------------Overlay Text-------------*/

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #EC9F05;
    font-family: BubblegumSans, serif;
}

.overlay-text-small {
    font-size: 1em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 3em;
    }
}

/*-------------Cards-------------*/

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 175px;
  width: 125px;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(-0);
}

.card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.card-back {
  background-color: #3c4f27;
  border-color: #3c4f27;
}

.card-front {
  background-color: #8cc152;
  border-color: #3c4f27;
  transform: rotateY(180deg);
}

.card-value {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}

.card-front:hover .card-value {
    transform: scale(1);

}

/*-------------Cards Corners-------------*/

.vines {
  position: absolute;
  width: 25px;
  height: 25px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.card-face:hover .vines {
  width: 30px;
  height: 30px;
}

.vines-top-left {
  top: 0;
  left: 0;
}

.vines-top-right {
    transform: scaleX(-1);
    top: 0;
    right: 0;
}

.vines-bottom-left {
  transform: scaleX(-1) rotate(180deg);
  bottom: 0;
  left: 0;
}

.vines-bottom-right {
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
}

/*-------------Card Back Main Image-------------*/

.grass {
    max-width:100%;
    height:auto;
    transform: translateY(-10px);
    transition: transform 100ms ease-in-out;
}

.card-back:hover .grass {
  max-width:115%;
}

/*-------------Media Queries-------------*/

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}