
/*-------------Fonts-------------*/

@font-face {
  font-family: "BubblegumSans";
  src: url("../fonts/bubblegumSans-Regular.ttf");
}

/*-------------Background-------------*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100vh;
  cursor: url("../cursors/ekos-jesus-stick.ico"), auto;
}

body {
  margin: 0;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../images/tropical-rain-forest.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*-------------Page Title-------------*/

.page-title {
  color: black;
  -webkit-text-fill-color: #EC9F05;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: BubblegumSans, serif;
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  margin: 0;
}

/*-------------Game Info Headers-------------*/

.game-info {
  font-family: BubblegumSans, serif;
  color: black;
  -webkit-text-fill-color: #EC9F05;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1.25em;
}

.game-info.sound {
    display: absolute;
}

.game-info-container {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*-------------Music Toggle-------------*/



/*-------------SFX Toggle-------------*/



/*-------------Overlay Text-------------*/

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
    color: black;
    -webkit-text-fill-color: #EC9F05;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: BubblegumSans, serif;
}

.overlay-text-small {
    font-size: 1em;
}

.overlay-text.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-animation: overlay-grow 500ms forwards;
            animation: overlay-grow 500ms forwards;
}

@-webkit-keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 3em;
    }
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 3em;
    }
}

/*-------------Cards-------------*/

.game-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 10px auto 10px auto 10px auto;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.card {
  position: relative;
  display: inline-block;
  height: 130px;
  width: 105px;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.card.visible .card-back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.visible .card-front {
    -webkit-transform: rotateY(-0);
            transform: rotateY(-0);
}

.card.matched .card-value {
    -webkit-animation: dance 1s linear infinite 500ms;
            animation: dance 1s linear infinite 500ms;
}

@-webkit-keyframes dance {
    0%, 100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    25% {
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
    }
    75% {
        -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
    }
}

@keyframes dance {
    0%, 100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    25% {
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
    }
    75% {
        -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
    }
}

.card-back {
  background-color: #364f09;
  border-color: black;
}

.card-front {
  background-color: #789b49;
  border-color: black;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-value {
    position: absolute;
    width: 65%;
    height: 65%;
    -webkit-transition: -webkit-transform 100ms ease-in-out;
    -o-transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out;
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}

.card-front:hover .card-value {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

/*-------------Cards Corners-------------*/

.vines {
  position: absolute;
  width: 20%;
  height: 20%;
  -webkit-transition: width 100ms ease-in-out, height 100ms ease-in-out;
  -o-transition: width 100ms ease-in-out, height 100ms ease-in-out;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.card-face:hover .vines {
  width: 22%;
  height: 22%;
}

.vines-top-left {
  top: 0;
  left: 0;
}

.vines-top-right {
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
    top: 0;
    right: 0;
}

.vines-bottom-left {
  -webkit-transform: scaleX(-1) rotate(180deg);
      -ms-transform: scaleX(-1) rotate(180deg);
          transform: scaleX(-1) rotate(180deg);
  bottom: 0;
  left: 0;
}

.vines-bottom-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 0;
  right: 0;
}

/*-------------Card Back Main Image-------------*/

.grass {
    position: absolute;
    width: 80%;
    height: 80%;
    -webkit-transition: -webkit-transform 100ms ease-in-out;
    -o-transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out;
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}

.card-back:hover .grass{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

/*-------------Media Queries-------------*/

/*----------iPad----------*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .card {
        height: 200px;
        width: 130px;
    }
    
    .overlay-text-small { 
        font-size: 4em;
    }

    .overlay-text.visible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-animation: overlay-grow 500ms forwards;
                animation: overlay-grow 500ms forwards;
    }

    @-webkit-keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 2em;
        }
    }

    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 2em;
        }
    }
}

/*----------800px Point----------*/
@media (max-width: 800px) {
    .overlay-text { 
        font-size: 1em;
    }

    .overlay-text-small { 
        font-size: 0.75em;
    }

    .overlay-text.visible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-animation: overlay-grow 500ms forwards;
                animation: overlay-grow 500ms forwards;
    }

    @-webkit-keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 1.5em;
        }
    }

    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 1.5em;
        }
    }
}

/*----------600px Point----------*/
@media (max-width: 600px) {

    .overlay-text { 
        font-size: 1em;
    }

    .overlay-text-small { 
        font-size: 0.75em;
    }

    .overlay-text.visible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-animation: overlay-grow 500ms forwards;
                animation: overlay-grow 500ms forwards;
    }

    @-webkit-keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 1.5em;
        }
    }

    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 1.5em;
        }
    }
}

/*----------iPhone 6----------*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .card {
        height: 100px;
        width: 75px;
    }

    .overlay-text-small { 
        font-size: 0.75em;
    }

    .overlay-text.visible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-animation: overlay-grow 500ms forwards;
                animation: overlay-grow 500ms forwards;
    }

    @-webkit-keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 1.5em;
        }
    }

    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 1.5em;
        }
    }
}

/*----------Galaxy S5----------*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

    .card {
        height: 100px;
        width: 75px;
    }

    .overlay-text-small { 
        font-size: 0.75em;
    }

    .overlay-text.visible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-animation: overlay-grow 500ms forwards;
                animation: overlay-grow 500ms forwards;
    }

    @-webkit-keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 1.5em;
        }
    }

    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 1.5em;
        }
    }
}